{% extends "index.html" %}
{% block content %}
    <h1>Reverse String</h1>
    <form name="input" action="">
      <div class="input-group">
        <input class="form-control1" type="text" name="orig" id="orig" placeholder="Type a string you want to be reversed"/> 
        <span class="input-group-btn">
          <button class="btn btn-primary" onClick="calculateArea(); return false;">Reverse String!</button>
        </span>
      </div>
    </form>
    <div class="output-group">
        <label for="">The reverse string is: </label><input type="textbox" name="output" id="output" /> 
    </div>
    
    <script type="text/javascript">
      function calculateArea() {
        var str = document.getElementById('orig').value;
        var rev = str.split('').reverse().join('');
        document.getElementById('output').value = rev;
      }
    </script>
{% endblock %}