{% extends "index.html" %}
{% block content %}
    <h3>Text Editor</h3>
    <form data-persist="garlic" method="POST">
      <div class="texteditor">
        <textarea id="output"></textarea>
      </div>
    </form>
    <div class="group-btn">
      <input id="fileInput" accept='text/plain' type="file" onchange='openFile(event)' style="display:none;" />
      <input type="button" value="Open" onclick="document.getElementById('fileInput').click();" />
      <input type="button" value="Save" onclick="saveFile()" />
    </div> 
    
    <script>
      var openFile = function(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function(){
          var text = reader.result;
          var node = document.getElementById('output');
          node.innerText = text;
        };
        reader.readAsText(input.files[0]);
      };
    </script>
    <script>
      var saveFile = function() {
        var fileNameToSaveAs = document.getElementById("fileInput").value;
        window.alert(fileNameToSaveAs);
      };
    </script>
{% endblock %}